@font-face {
    font-family: 'Brawler';
    src: url('Brawler-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Brawler', 'Roboto', sans-serif;
}

body {
    line-height: 1.5;
    border: 0px solid white;
    -webkit-font-smoothing: antialiased;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template: clamp(150px, 15vh, 250px) clamp(600px, 85vh, 1250px) / clamp(250px, 20vw, 350px) clamp(1000px, 80vw, 1400px);
}

svg {
    width: 30px;
    cursor: pointer;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*----------STILI DELL'ASIDE----------*/
#aside {
    background-color: #552583;
    color: gold;
    grid-area: 1 / 1 / 3 / 2;
}

#aside svg {
    position: relative;
    top: 5px;
    right: 10px;
    margin-left: 35px;
}

#aside h1 {
    margin-top: 20px;
    font-size: 1.4rem;
    ;
}

#aside h1 svg {
    width: 45px;
    top: 10px;
}

#aside nav ul li {
    font-weight: bold;
}

#link {
    margin-top: 40px;
}

#impo {
    margin-top: 40px;
}

/*----------STILI DELL'HEADER----------*/
#header {
    background-color: whitesmoke;
    color: black;
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
}

#search_bar {
    margin: 25px 35px;
}

#search_bar svg {
    position: relative;
    top: 10px;
}

#search_bar input {
    border: none;
    background-color: rgb(195, 195, 195);
    color: #1A3A2A;
    width: 600px;
    height: 35px;
    border-radius: 10px;
    padding-left: 6px;
}

#search_bar input:hover {
    box-shadow: 5px 5px 20px 1px black;
}

#search_bar input:focus {
    outline: none;
}

#profilo_piccolo {
    position: absolute;
    top: 10px;
    right: 50px;
    font-weight: bold;
}

#profilo_piccolo svg {
    position: relative;
    top: 5px;
    margin-right: 20px;
}

#profilo_piccolo img {
    position: relative;
    top: 15px;
    margin-right: 20px;
}

#profilo {
    margin: -50px 35px;
    font-weight: bold;
}

#profilo img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 40px;
}

#profilo p {
    margin-left: 65px;
}

#piccolo {
    font-size: 0.8rem;
}

.button {
    border: none;
    background-color: #552583;
    color: gold;
    width: 120px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
}

.button:last-of-type {
    right: 20px;
}

.button:nth-of-type(2) {
    right: 150px;
}

.button:first-of-type {
    right: 280px;
}

/*----------STILI DEL MAIN----------*/
#main {
    background-color: rgb(195, 195, 195);
    color: black;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: clamp(710px, 55vw, 1050px) clamp(300px, 25vw, 400px);
}

#container {
    border: 1px solid blue;
}

#container h2 {
    font-size: 0.9rem;
    margin: 15px 20px;
}

#progetti {
    display: grid;
    grid-template: repeat(3, clamp(160px, 21vh, 400px)) / repeat(2, clamp(330px, 25vw, 500px));
    gap: 20px 20px;
}

#progetti div {
    padding: 15px;
    background-color: whitesmoke;
    border-left: 6px solid gold;
    border-radius: 10px;
    position: relative;
}

#progetti div:nth-of-type(odd) {
    margin-left: 15px;
}

#progetti div h3 {
    font-size: 0.75rem;
}

#progetti div p {
    font-size: 0.6rem;
}

.azione {
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.azione svg {
    width: 25px;
    margin-left: 10px;
}

#notizie {
    border: 1px solid red
}

#notizie h2 {
    margin-top: 15px;
    font-size: 0.9rem;
}

#annunci div {
    width: 95%;
    height: 275px;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 10px;
}

#annunci div p {
    font-size: 0.55rem;
    border-bottom: 1px solid gray;
}

#annunci div p:first-of-type {
    padding-bottom: 10px;
}

#annunci div p:nth-of-type(2) {
    padding: 10px 0px 10px 0px;
    
}

#annunci div p:last-of-type {
    border: none;
    padding-top: 10px;
}

.grassetto {
    font-size: 0.6rem;
    font-weight: bold;
}

#trend div {
    width: 95%;
    height: 275px;
    background-color: whitesmoke;
    border-radius: 10px;
}

#trend div p {
    position: relative;
}

#trend div p:first-of-type {
    top: 15px;
}

#trend div p:nth-of-type(2) {
    bottom: 15px;
}

#trend div p:nth-of-type(3) {
    bottom: 40px;
}

#trend div p:last-of-type {
    bottom: 70px;
}

#trend div p img {
    width: 50px;
    height: 50px;
    position: relative;
    left: 25px;
}

#trend .grassetto {
    font-size: 0.7rem;
    position: relative;
    bottom: 25px; 
    left: 25px;
}

.testo {
    font-size: 0.7rem;
    position: relative;
    bottom: 35px; 
    left: 75px;
}